.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 56px;
}

.todo-input {
  flex: 1;
  color: white;
  background-color: hsl(0, 0%, 15%);
  border: none;
  border-radius: 6px;
  padding: 16px;
}

.todo-input::placeholder {
  color: hsl(0, 0%, 60%);
}

.todo-input:focus {
  outline: none;
  border: 1px solid #5E60CE;
}

.todo-add-button {
  background-color: hsl(196, 100%, 30%);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 16px;
  margin-left: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.todo-add-button:hover {
  background-color: hsl(196, 100%, 40%);
}