.todo-item {
  display: flex;
  background-color: hsl(0, 0%, 15%);
  border-radius: 6px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 16px
}

.todo-text {
  color: white;
}

.todo-time, .todo-date {
  color: hsl(0, 0%, 60%);
  font-size: 12px;
}

.todo-content-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

.todo-date-container {
  display: flex;
  gap: 8px;
}

.todo-delete-button {
  font-size: 12px;
  background-color: #E25858;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 8px;
  cursor: pointer;
}