.todo-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
  align-items: center;
  margin: 0 auto;
}

.title {
  width: 100%;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  color: white;
  background-color: hsl(0, 0%, 5%);
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}